body {
  font-family: sans-serif;
  background-color: rgb(210,205,200);
}

#maindiv {
    width: 90%;
    max-width: 1280px;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    padding: 10px;
}

